*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form{
    width: 35%;
    height: auto;
    background-color: #f8f8f8;
    margin: 4rem auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    row-gap: 1rem;
    justify-content: center;
    align-items: start;
    font-size: 1.2rem;
}
.labelAndInputBox{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 0.3rem;
    position: relative;
}
input{
    padding: 1.2rem 1.5rem;
    border: 1px solid #e3e3e3;
    border-radius: 0.5rem;
    
}
.error{
    position: absolute;
    left: 38rem;
    top: 3rem;
    visibility: hidden;
}
.success{
    position: absolute;
    left: 38rem;
    top: 3rem;
    visibility: hidden;
}
p{
    color: red;
    font-size: 0.8rem;
    font-style: italic;
}

button{
    background-color: black;
    color: white;
    width: 100%;
    padding: 1rem 0;
    border: none;
    outline: none;
    border-radius: 0.5rem;
}
